## Scott Andersen: 
## Assignment 2, PyBank

In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
csv_path = Path("FinTech_Git/NW_Folder/Northwestern/unit_2_python/python_hw/PyBank/hw_datasheet.csv")

In [3]:
# Read CSV in as DataFrame

budget_csv = pd.read_csv(r"/Users/scottandersen/nu-chi-fin-pt-04-2020-u-c/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv")
budget_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Total Number of Months in Data_Sheet

#budget_data = budget_csv['Date'].value_count()

total_months = budget_csv['Date'].nunique()
print('The total number of months:', total_months)

The total number of months: 86

In [5]:
# Net Total Profit and Loss

net_total_pnl = budget_csv['Profit/Losses'].sum()
print('The Net Total Profit is:', '$', net_total_pnl)

The Net Total Profit is: $ 38382578

In [6]:
# Greatest Increase in profit change

change = np.diff(budget_csv["Profit/Losses"])
ave_change = np.mean(change)
ave_change
print("The Average Change:", ave_change)

The Average Change: -2315.1176470588234

In [7]:
# Calculate the largest increase in profit change:
largest_increase = 0

for i in change:
    integer = i
    if integer > largest_increase:
        largest_increase = i
print("The Largest Increase in Profit:", "$", largest_increase)

The Largest Increase in Profit: $ 1926159

In [8]:
# Calculate the largest decrease in profit change:

largest_decrease = 0 

for i in change:
    integer = i
    if integer < largest_decrease:
        largest_decrease = i
print("The Largest Decrease in Profit:," "$", largest_decrease)

The Largest Decrease in Profit:,$ -2196167

In [9]:
print("Financial Analysis")
print("_______________________________")
print(f'Total Months:', total_months)
print(f'Total:',  "$", net_total_pnl)
print(f'Average Change:', "$", ave_change)
print(f'Greatest Increase in Profits:',  "$", largest_increase)
print(f'Greatest Decrease in Profits:',  "$", largest_decrease)

Financial Analysis
_______________________________
Total Months: 86
Total: $ 38382578
Average Change: $ -2315.1176470588234
Greatest Increase in Profits: $ 1926159
Greatest Decrease in Profits: $ -2196167