In [9]:
import pandas as pd
from pathlib import Path

In [10]:
budget_df = pd.read_csv("../Resources/budget_data.csv")

FileNotFoundError: [Errno 2] File ../Resources/budget_data.csv does not exist: '../Resources/budget_data.csv'

In [152]:
budget_df = pd.DataFrame(budget_df, columns= ['Date','Profit/Losses'])

In [154]:
budget_df.head()

     Date  Profit/Losses
0  10-Jan         867884
1  10-Feb         984655
2  10-Mar         322013
3  10-Apr         -69417
4  10-May         310503

In [157]:
budget_data = pd.read_csv(csvpath, header=None)
budget_data.head()

        0              1
0    Date  Profit/Losses
1  10-Jan         867884
2  10-Feb         984655
3  10-Mar         322013
4  10-Apr         -69417

In [158]:
columns = ['Date', 'Profit/Losses']
budget_data.columns = columns
budget_data.head()

     Date  Profit/Losses
0    Date  Profit/Losses
1  10-Jan         867884
2  10-Feb         984655
3  10-Mar         322013
4  10-Apr         -69417

In [205]:
budget_data[['Profit/Losses']]

    Profit/Losses
0   Profit/Losses
1          867884
2          984655
3          322013
4          -69417
..            ...
82         102685
83         795914
84          60988
85         138230
86         671099

[87 rows x 1 columns]

In [170]:
budget_data.dtypes

Date             object
Profit/Losses    object
dtype: object

In [174]:
budget_df['Profit/Losses'] = budget_df['Profit/Losses'].astype('float')

In [206]:
PnL_column = budget_df.iloc[:,1]

In [207]:
PnL_column

0     867884.0
1     984655.0
2     322013.0
3     -69417.0
4     310503.0
        ...
81    102685.0
82    795914.0
83     60988.0
84    138230.0
85    671099.0
Name: Profit/Losses, Length: 86, dtype: float64

In [203]:
def GD_profits(arr,n):
    arr = sorted(arr)
    diff = 10**20
    for i in range(n-1):
        if arr[i+1] - arr[i] < diff:
            diff = arr [i+1] - arr[i]
    return diff

In [108]:
# Net total PnL 

net_total_pnl = budget_df['Profit/Losses'].sum()
net_total_pnl

38382578

In [162]:
# Total Number of Months in dataset

total_months = budget_df['Date'].nunique()
print(budget_df['Date'].nunique())

budget_df.count()

86

Date             86
Profit/Losses    86
dtype: int64

In [209]:
budget_df.mean(axis=1)

0     867884.0
1     984655.0
2     322013.0
3     -69417.0
4     310503.0
        ...
81    102685.0
82    795914.0
83     60988.0
84    138230.0
85    671099.0
Length: 86, dtype: float64

In [17]:
net_total_pnl

38382578

In [5]:
## Change!!

daily_returns = budget_data.pct_change()
daily_returns.head()

NameError: name 'budget_data' is not defined