In [32]:
c1_name = "Mr. Andersen"
c1_age = 33
c1_profession = "web developer"
c1_salary = 1000000
c1_species = "dog"
c1_location = 'San_Francisco, CA'
c1_monthly_rent = 2000
c1_monthly_expenses = 1500
c1_yearly_rent = (c1_monthly_rent * 12)
c1_yearly_expenses = (1500.00 * 12)
c1_savings = c1_salary - (c1_yearly_rent + c1_yearly_expenses)

print(c1_name, c1_profession, c1_savings)

Mr. Andersen web developer 958000.0

In [33]:
c2_name = 'Ms Nicole'
c2_age = 30
c2_specices = "mouse"
c2_profession = 'accountant'
c2_salary = 70000.00
c2_location = 'Oakland'
c2_monthly_rent = 4000
c2_monthly_expenses = 500
c2_yearly_rent = (c2_monthly_rent * 12)
c2_yearly_expenses = (c2_monthly_expenses * 12)
c2_savings = c2_salary - (c1_yearly_rent + c2_yearly_expenses)

print(c2_name, c2_profession, c2_savings)

Ms Nicole accountant 40000.0

In [34]:
if c1_name == ("Mr. Andersen"):
    print('Hello Mr. Andersen')
else:
    print('Fuck')

Hello Mr. Andersen

In [35]:
if c2_age > c1_age:
    print("Ms Nicole is older than Mr. Andersen")
elif c1_age > c2_age: 
    print("Mr. Andersen is older")
else:
    (c1_age == c2_age)
    print("They are the same age.")

Mr. Andersen is older

In [37]:
if c1_monthly_rent > c2_monthly_rent:
    print("Mr. Andersen's is higher")
elif c2_monthly_rent > c1_monthly_rent:
    print("Ms Nicole has the higher rent")
else:
    print('They paid the same amount')

Ms Nicole has the higher rent

In [38]:
print(c1_salary - c2_salary)

930000.0