# Scott Andersen - API_hw - Part 1

In [ ]:
# Initial Imports
import os
import plaid
import requests
import datetime
import json
import pandas as pd
from dotenv import load_dotenv

%matplotlib inline

In [21]:
def pretty_print_response(response):
    """
    This function formats a JSON file to pretty printing it in the screen.
    """
    print(json.dumps(response, indent=4, sort_keys=True))

In [22]:
# Set environment variables from the .env file
load_dotenv()

True

In [23]:
 # Extract API keys from environment variables
PLAID_CLIENT_ID = '5eb6c04fe3979600125b731f'
PLAID_PUBLIC_KEY = '0326e42cb20359ffe6b303bdd88a33'
PLAID_SBX_SECRET_KEY = '7a025b63458474c4b9e094ed4fc815'

In [24]:
# Create client object
client = plaid.Client(client_id=PLAID_CLIENT_ID, secret=PLAID_SBX_SECRET_KEY, public_key=PLAID_PUBLIC_KEY, environment='sandbox')

In [25]:
 # Set the institution id
INSTITUTION_ID = "ins_109508"

In [26]:
 # Create the public token
create_tkn_response = client.Sandbox.public_token.create(INSTITUTION_ID, ['transactions','income','assets'])
# Print the public token
create_tkn_response

{'public_token': 'public-sandbox-db74e464-5eb2-41fb-8983-7f5cdf207d27',
 'request_id': 'eUtdOB5Ealy7OOQ'}

In [27]:
# Retrieve the access token

exchange_response = client.Item.public_token.exchange(create_tkn_response['public_token'])

# Print the access token

exchange_response

# Store the access token in a Python variable

access_token = exchange_response['access_token']

In [28]:
 # Retrieve & Print accounts
    
client.Accounts.get(access_token)

#df = pd.DataFrame(client.Accounts.get(access_token))

{'accounts': [{'account_id': 'Vdb7Ddkvl3sj613MWZomukjEmrlQqESWPVNrp',
   'balances': {'available': 100,
    'current': 110,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '0000',
   'name': 'Plaid Checking',
   'official_name': 'Plaid Gold Standard 0% Interest Checking',
   'subtype': 'checking',
   'type': 'depository'},
  {'account_id': 'wdWemdQMgPsgb9nla3DXSbq95Vg4a9tropK8l',
   'balances': {'available': 200,
    'current': 210,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '1111',
   'name': 'Plaid Saving',
   'official_name': 'Plaid Silver Standard 0.1% Interest Saving',
   'subtype': 'savings',
   'type': 'depository'},
  {'account_id': '5dv1mdyPLlslXzB8v9WZudNMk8GojMfZ7njmg',
   'balances': {'available': None,
    'current': 1000,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '2222',
   'name': 'Plaid CD',
   'official_name': 'Plaid Bronze Standard 0.2% Interest CD',
   'subtype': 'cd',
   'type': 'depository'},
  {'account_id': 'JnMKDnBv1pTx1L73obg4TjM64GpDQ6CdgywP1',
   'balances': {'available': None,
    'current': 410,
    'iso_currency_code': 'USD',
    'limit': 2000,
    'unofficial_currency_code': None},
   'mask': '3333',
   'name': 'Plaid Credit Card',
   'official_name': 'Plaid Diamond 12.5% APR Interest Credit Card',
   'subtype': 'credit card',
   'type': 'credit'},
  {'account_id': 'kn7rWnz3JlTALBVXNnlZUGy15PEe31IWdjAvm',
   'balances': {'available': 43200,
    'current': 43200,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '4444',
   'name': 'Plaid Money Market',
   'official_name': 'Plaid Platinum Standard 1.85% Interest Money Market',
   'subtype': 'money market',
   'type': 'depository'},
  {'account_id': 'lbeznbBxqkSmR6MWPrkpS5ED3RMvNDUZdq6xN',
   'balances': {'available': None,
    'current': 320.76,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '5555',
   'name': 'Plaid IRA',
   'official_name': None,
   'subtype': 'ira',
   'type': 'investment'},
  {'account_id': 'qKLayK4PN3s4jBg9rp3RuzNGKr6m5Gid7jB3B',
   'balances': {'available': None,
    'current': 23631.9805,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '6666',
   'name': 'Plaid 401k',
   'official_name': None,
   'subtype': '401k',
   'type': 'investment'},
  {'account_id': 'Kb1rDb3vpoSL7XrxDwAZu8MeZjk1EeFVA9rQ3',
   'balances': {'available': None,
    'current': 65262,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '7777',
   'name': 'Plaid Student Loan',
   'official_name': None,
   'subtype': 'student',
   'type': 'loan'},
  {'account_id': 'rrp4nrNkjxToXk8KzJALSea9RVzjX9ul6ANzq',
   'balances': {'available': None,
    'current': 56302.06,
    'iso_currency_code': 'USD',
    'limit': None,
    'unofficial_currency_code': None},
   'mask': '8888',
   'name': 'Plaid Mortgage',
   'official_name': None,
   'subtype': 'mortgage',
   'type': 'loan'}],
 'item': {'available_products': ['auth',
   'balance',
   'credit_details',
   'identity',
   'investments',
   'liabilities'],
  'billed_products': ['assets', 'income', 'transactions'],
  'consent_expiration_time': None,
  'error': None,
  'institution_id': 'ins_109508',
  'item_id': 'RzW4DzjvRKU6evn71ZPltjnpmxNkjbuR498Wk',
  'webhook': ''},
 'request_id': '6NaMIDvKKeUY9S9'}

In [29]:
# Get transactions for institution for specific date range

start_date = '{:%Y-%m-%d}'.format(datetime.datetime.now() + datetime.timedelta(-90))
end_date = '{:%Y-%m-%d}'.format(datetime.datetime.now())

# Get transactions for date range

transaction_response = client.Transactions.get(access_token,start_date,end_date)


# Print JSON output

print(json.dumps(transaction_response['transactions'][:2],indent=4, sort_keys=True))

[
    {
        "account_id": "JnMKDnBv1pTx1L73obg4TjM64GpDQ6CdgywP1",
        "account_owner": null,
        "amount": 500,
        "authorized_date": null,
        "category": [
            "Food and Drink",
            "Restaurants"
        ],
        "category_id": "13005000",
        "date": "2020-05-25",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "Tectra Inc",
        "payment_channel": "in store",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_code": null,
        "transaction_id": "a1zLb1NvoZSJoXxnqDRMi51GwWQ7BDH7LKmpj",
        "transaction_type": "place",
        "unofficial_currency_code": null
    },
    {
        "account_id": "JnMKDnBv1pTx1L73obg4TjM64GpDQ6CdgywP1",
        "account_owner": null,
        "amount": 2078.5,
        "authorized_date": null,
        "category": [
            "Payment"
        ],
        "category_id": "16000000",
        "date": "2020-05-24",
        "iso_currency_code": "USD",
        "location": {
            "address": null,
            "city": null,
            "country": null,
            "lat": null,
            "lon": null,
            "postal_code": null,
            "region": null,
            "store_number": null
        },
        "name": "AUTOMATIC PAYMENT - THANK",
        "payment_channel": "other",
        "payment_meta": {
            "by_order_of": null,
            "payee": null,
            "payer": null,
            "payment_method": null,
            "payment_processor": null,
            "ppd_id": null,
            "reason": null,
            "reference_number": null
        },
        "pending": false,
        "pending_transaction_id": null,
        "transaction_code": null,
        "transaction_id": "PK8dDKNvmlswX46PDQLkhdRmQP419pt7ZylE3",
        "transaction_type": "special",
        "unofficial_currency_code": null
    }
]

In [30]:
# Create a for-loop to print the categories for each transaction

for category in transaction_response:
    print(category)

accounts
item
request_id
total_transactions
transactions

In [31]:
# Define an empty DataFrame and set the columns as date, name, amount, and category

transaction_df = pd.DataFrame(columns=['date', 'name', 'amount', 'category'])

# Retrieve all the transactions

transactions = transaction_response['transactions']

# Populate the transactions DataFrame with the transactions data

for index, transaction in enumerate(transactions):
    transaction_df.loc[index] = [transaction["date"], transaction["name"], transaction["amount"], transaction["category"][0]]


# Display sample data from the DataFrame

transaction_df.head()

         date                          name  amount        category
0  2020-05-25                    Tectra Inc     500  Food and Drink
1  2020-05-24     AUTOMATIC PAYMENT - THANK  2078.5         Payment
2  2020-05-24                           KFC     500  Food and Drink
3  2020-05-24          Madison Bicycle Shop     500           Shops
4  2020-05-15  CREDIT CARD 3333 PAYMENT *//      25         Payment

In [32]:
# Display data types

transaction_df.dtypes

date        object
name        object
amount      object
category    object
dtype: object

In [33]:
# Make any required data type transformation

transaction_df ['date'] = transaction_df['date'].astype('datetime64[ns]')

transaction_df.dtypes

date        datetime64[ns]
name                object
amount              object
category            object
dtype: object

In [34]:
# Set the date column as index
transaction_df['amount'] = transaction_df['amount'].astype('float')
transaction_df['date'] = pd.to_datetime(transaction_df['date'], format='%Y-%m-%d')
transaction_df = transaction_df.set_index('date')

transaction_df.head()

                                    name  amount        category
date
2020-05-25                    Tectra Inc   500.0  Food and Drink
2020-05-24     AUTOMATIC PAYMENT - THANK  2078.5         Payment
2020-05-24                           KFC   500.0  Food and Drink
2020-05-24          Madison Bicycle Shop   500.0           Shops
2020-05-15  CREDIT CARD 3333 PAYMENT *//    25.0         Payment

In [16]:
# Display sample data

transaction_df.head()

        date                          name  amount        category
0 2020-05-25                    Tectra Inc     500  Food and Drink
1 2020-05-24     AUTOMATIC PAYMENT - THANK  2078.5         Payment
2 2020-05-24                           KFC     500  Food and Drink
3 2020-05-24          Madison Bicycle Shop     500           Shops
4 2020-05-15  CREDIT CARD 3333 PAYMENT *//      25         Payment

In [35]:
# Fetch the income data
income_response = client.Income.get(access_token)
pretty_print_response(income_response)

# Print the income data

{
    "income": {
        "income_streams": [
            {
                "confidence": 0.99,
                "days": 690,
                "monthly_income": 500,
                "name": "UNITED AIRLINES"
            }
        ],
        "last_year_income": 6000,
        "last_year_income_before_tax": 7285,
        "max_number_of_overlapping_income_streams": 1,
        "number_of_income_streams": 1,
        "projected_yearly_income": 6085,
        "projected_yearly_income_before_tax": 7389
    },
    "request_id": "6YHMb3mmJcKd3A2"
}

In [43]:
# Determine the previous year's gross income and print the results
print(f'Last years income{income_response}')

# Determine the previous year's gross income and print the results

Last years income{'income': {'income_streams': [{'confidence': 0.99, 'days': 690, 'monthly_income': 500, 'name': 'UNITED AIRLINES'}], 'last_year_income': 6000, 'last_year_income_before_tax': 7285, 'max_number_of_overlapping_income_streams': 1, 'number_of_income_streams': 1, 'projected_yearly_income': 6085, 'projected_yearly_income_before_tax': 7389}, 'request_id': '6YHMb3mmJcKd3A2'}

In [ ]:
# Determine the projected yearly income and print the results