## Scott Andersen: Assignment 2, PyBank

In [50]:
import pandas as pd
from pathlib import Path

In [65]:
csv_file = Path("/Users/scottandersen/nu-chi-fin-pt-04-2020-u-c/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv")

In [73]:
df = pd.read_csv(r"/Users/scottandersen/nu-chi-fin-pt-04-2020-u-c/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv")
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [67]:
#total_months = 0
#net_total_pnl = 0 
#daily_change = []
#sum_change = 0
#avg_change = 0
#max_change = 0
#min_change = 0

In [81]:
net_total_pnl = df['Profit/Losses'].sum()

In [82]:
net_total_pnl

38382578

In [85]:
print(df['Date'].nunique())

86

In [115]:
total_months = df['Date'].nunique()
total_months

86

In [126]:
df.columns
df.columns = columns
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [140]:
df['Profit/Losses'].max()

1170593

In [142]:
max_profit = df['Profit/Losses'].max()

min_profit = df['Profit/Losses'].min()

In [137]:
print("Financial Analysis")
print("_______________________________")
print(f"Total Months: {total_months}")
print(f'Total: ${net_total_pnl}')
print(f'Average Change: ${ave_change"})
print(f'Greatest Increase in Profits: {max_date}, ${max_profit}')
print(f'Greatest Decrease in Profits: {min_date}, ${min_proit}')

SyntaxError: EOL while scanning string literal (<ipython-input-137-49471eeb1c64>, line 5)